/*
kleurpalet:
https://www.awink.nl/
*/
body {
    font-family: Verdana, sans-serif, Arial;
}

h1, h2, h3, h4, h5, h6 {
    color:#1181b2;
}

footer {
    border-top: 1px solid #f1f1f1;
    position: relative;
    top: 350px;
    padding: 40px;
    text-align: center;
}

.welkom {
    font-size: 3em;
    text-align: center;
    margin: auto;
    color:#1181b2;
}

section {
    margin: 0 25% 0% 25%;
}

.overons {
    font-size: 3em;
    text-align: center;
    color:#1181b2;
}

img {
    float: right;
    padding: 5px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    height: 320px;
    width: 320px;
}

.wij {
    font-size: 3em;
}