header {
    background-color: #bebebe;
    padding: 5px;
}

body {
    font-family: "comic sans MS", "Kristen ITC", "Arial Rounded MT Bold";
    background-color: #008689;
}

h1, h2, h3, h4, h5, h6 {
    color:#4afa56;
}

footer {
    border-top: 1px solid #808080;
    position: relative;
    top: 350px;
    padding: 40px;
    text-align: center;
}

img {
    float: left;
    height: 18px;
    margin-right: 5px;
    width: auto;
}