/*
kleurpalet:
https://www.awink.nl/
*/
body {
    font-family: Verdana, sans-serif, Arial;
}

h1, h2, h3, h4, h5, h6 {
    color:#1181b2;
}

footer {
    border-top: 1px solid #f1f1f1;
    position: relative;
    top: 350px;
    padding: 40px;
    text-align: center;
}

section {
    margin: 0 25% 0% 25%;
}

.titel {
    margin-top: 10%;
    font-size: 3em;
    text-align: center;
    margin: auto;
    color:#1181b2;
}

img {
    float: right;
    padding: 5px;
    height: 200px;
    width: 200px;
}

.wij {
    font-size: 3em;
}

#cpu{
    height: 40%;
    width: 40%;
}