nav {
    background-color: #bebebe;
    padding: 5px;
}

body {
    font-family: "comic sans MS", "Kristen ITC", "Arial Rounded MT Bold";
    background  : #008689;
}

h1, h2, h3, h4, h5, h6 {
    color:#4afa56;
    text-align: center;
}

.overons-article {
    padding-bottom: 1em;
}

footer {
    border-top: 1px solid #808080;
    position: relative;
    top: 350px;
    padding: 40px;
    text-align: center;
}

.logo {
    float: left;
    height: 18px;
    margin-right: 5px;
    width: auto;
}

img {
    float: right;
    height: 100px;
    margin-right: 5px;
    width: auto;
}

a:link {
    color: green;
}

a:visited {
    text-decoration: none;
}

a:hover {
    color: yellow;
}

.madeby {
    text-align: right;
    font-size: 10px;
}

table {
    border: 1px solid;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

td {
    border: 1px solid;
}

th {
    border: 1px solid;
}